/* For Tablets */
@media (max-width: 1000px) {
  /* Main */
  .coffee{
    width: 50%;
    margin-bottom: 40px;
  }

  .coffee-wrapper{
	height: 900px;
  }

  /* Extra */
  .extra{
    display: grid;
    grid-template-columns: 50% auto;
  }

  .content p{
    font-size: 30px;
  }

  .extra-icon img{
    width: 400px;
    height: 400px;
  }

  /*Footer*/
  .logo {
    margin-top: 30px;
  }
  .nama-logo h2 {
    font-size: 25px;
    float: left;
  }
  .contact i {
    font-size: 16px;
  }

/* For Smartphones */
@media (max-width: 670px) {
  /* Main */
  .coffee{
    width: 100%;
  }

  .coffee-wrapper{
	height: 1650px;
  }

  /* Extra */
  .extra{
    padding: 3%;
  }

  .content p{
    font-size: 25px;
  }
  
  .extra-icon img{
    width: 300px;
    height: 300px;
  }

  /*Footer*/
  .logo {
        margin-top: 20px;
   }
    
  .nama-logo h2 {
    font-size: 22px;
  }

  .btn{
    margin: 0;
    height: 40px;
    width: 40px;
    padding-bottom: 5px; 
  }

  .btn i {
    font-size: 15px; 
  }
  
    .footer-right {
        text-emphasis: none;
    }
    .contact {
        float: left;
    }
    .contact i {
        font-size: 12px;
    }